doctype html

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="wiewport",content="width=device-width,initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible",content="ie=edge")
        title WEATHER APP
        link(rel="stylesheet",href="./css/index.css")
        link(rel="stylesheet",href="./css/responsive.css")
        link(rel="stylesheet",href="./css/owl.carousel.min.css")
        link(rel="stylesheet",href="./css/owl.theme.default.min.css")
        link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet")
        script(src="https://use.fontawesome.com/6e71e49b28.js")
        body
            include includes/header
            img.firstbg(src="images/first-screen-bg.png")
            .firstcontent
                .textarea
                    h1 Get the most fun weather app
                    p Simple, nice and user-friendly application of the weather. Only useful information
                    a(href='/')
                        button(type='button' class='btnleft') Dowland
                    a(href='/')
                        button(type='button' class='btnright') Features
                .phone
                    img(src="images/phone.png")
                    .leftcircle
                        button(type='button' class='sunny') Sunny
                        button(type='button' class='scrooldown')
                        .panel
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    .rightcircle
                        button(type='button' class='derece') 9
                        button(type='button' class='london') LONDON
                        button(type='button' class='rio') RIO
        .perfect-features.col-text.container#features
            h2 PERFECT FEATURES
            p(class='small-title') Only necessary
            .usubilty
                .shape
                    .icon-img
                        img(src="images/icon/usubilty.png")
                    .textarea
                        .title Usability
                        p(class='text') Sometimes the simplest things are the hardest to find. So we created a new line for everyday life
                .shape
                    .icon-img
                        img(src="images/icon/parallex.png")
                    .textarea
                        .title Parallax Effect
                        p(class='text') Sometimes the simplest things are the hardest to find. So we created a new line for everyday life
                .shape
                    .icon-img
                        img(src="images/icon/ultimate.png")
                    .textarea
                        .title Unlimites Colors
                        p(class='text') Sometimes the simplest things are the hardest to find. So we created a new line for everyday life
        .simple-widgets.col-text.container
            h2 SIMPLE WIDGETS
            p(class='small-title') Drag and Drop
            .slider.owl-carousel.owl-theme
                .item
                    img(src="images/widgets.png")
                .item
                    img(src="images/widgets.png")
                .item
                    img(src="images/widgets.png")
                .item
                    img(src="images/widgets.png")
                .item
                    img(src="images/widgets.png")
                .item
                    img(src="images/widgets.png")
        .screen-shots.col-text.container
            h2 SCREENSHOTS
            p(class='small-title') The Brightest images
            //CLOUDY
            .textright
                .item
                    .img-col
                        img(src="images/screen.png")
                        .big-title Cloudy
                        button(type='button' class='topbutton') Cloudy
                        button(type='button' class='downbutton') 15
                .item
                    .textarea
                        img(src="images/icon/1.png")
                        .title WHEN THE CLOUDS
                        p Variable information on the air humidity, the feeling of the weather, and the ability to share this with your friends
                        img(src="images/icon/dowicon.png")
            //THE SUN
            .textleft
                .item
                    .textarea
                        img(src="images/icon/sunnyicon.png")
                        .title WHEN THE SUN
                        p Sometimes the simplest things are the hardest to find. So we created a new line for everyday life. Sometimes the simplest things are the
                        img(src="images/icon/dowicon.png")
                .item
                    .img-col
                        img(src="images/sunny.png")
                        .big-title Sunny
                        button(type='button' class='topbutton') Sunny
                        button(type='button' class='downbutton') 35
            //RAINY
            .textright
                .item
                    .img-col
                        img(src="images/rainyscreen.png")
                        div(class='big-title' style='left:15%;') Rainy
                        button(type='button' class='topbutton' style='background:#b8faee; color:#8da9aa;') Rainy
                        button(type='button' class='downbutton') 9
                .item
                    .textarea
                        img(src="images/icon/rainyicon.png")
                        .title WHEN THE RAIN
                        p Sometimes the simplest things are the hardest to find. So we created a new line for everyday life. Sometimes the simplest things are the
                        img(src="images/icon/dowicon.png")

        .col-text.container#reviews
            h2 WHAT PEOPLE ARE SAYING
            p(class='small-title') Reviews
            .col-md-50
                .item
                    .on-double-questes
                        img(src="images/icon/on-double.png")
                    p What art offers is space - a certain breathing room for the #[a spirit] .
                    .user John Updike
                    .off-questes
                        img(src="images/icon/off-double.png")
                .item
                    .on-double-questes
                        img(src="images/icon/on-double.png")
                    p We do not see nature with our eyes, but with our understandings and our #[a hearts] .
                    .user William Hazlitt
                    .off-questes
                        img(src="images/icon/off-double.png")
                .item
                    .on-double-questes
                        img(src="images/icon/on-double.png")
                    p The only courage that matters is the kind that gets you from one moment to the #[a next] .
                    .user Mignon McLaughlin
                    .off-questes
                        img(src="images/icon/off-double.png")
                .item
                    .on-double-questes
                        img(src="images/icon/on-double.png")
                    p No man has a good enough memory to be a successful  #[a liar] .
                    .user Abraham Lincoln
                    .off-questes
                        img(src="images/icon/off-double.png")

        .dowlandapp.container#downland
            .item
                .textarea
                    .title HOW DOWLAND THE APP ?
                    p Just download the app from the store. Simple, nice and user-friendly application of theweather. Only relevant and useful information.
                    .applink
                        a(href='/')
                            img(src="images/appstore.png")
                        a(href='/')
                            img(src="images/googleplay.png")
            .item.Imgarea
                .left
                    img(src="images/dowlandLeftImg.png")
                .center
                    img(src="images/dowlandCenterImg.png")
                .right
                    img(src="images/dowlandrightImg.png")
        //FOOTER
        .footer
            .submenu
                .logo #[a FUN] WEATHER
                .menu
                    a(href='/' class='active') Home
                    a(href='/') Features
                    a(href='/') Reviews
                    a(href='/') Downland
                .sosyal
                    a(href='/')
                        img(src="images/icon/fot-facebook.png")
                    a(href='/')
                        img(src="images/icon/fot-instgram.png")
                    a(href='/')
                        img(src="images/icon/fot-twitter.png")
            .copygright
                .text © 2016 All rights reserved. Weather App Theme by Gravpix
                div(class='up', onclick='topFunction()')
                    img(src="images/icon/top-arrow.png")


script(src="https://code.jquery.com/jquery-2.1.1.js" integrity="sha256-FA/0OOqu3gRvHOuidXnRbcmAWVcJORhz+pv3TX2+U6w=" crossorigin="anonymous")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")

script(src='./script/owl.carousel.js')
script(src='./script/function.js')
