.container
    .header
        .logo
            a(href='/') The Weather
        .menu
            a(href='/' class="active") Home
            a(href='#features' class="scrollLink") Features
            a(href='#reviews'  class="scrollLink") Reviews
            a(href='#downland' class="scrollLink") Downland
        .icons
            a(href='/')
                img.inst(src="images/facebook.png")
            a(href='/')
                img.inst(src="images/instgram.png")
            a(href='/')
                img.inst(src="images/twitter.png")
    //MOBİLE
    .hamburger.hamburger--spring.js-hamburger
        .hamburger-box
            .hamburger-inner
    #sidebar.sidebar
        .bartitles
            a(href='/') Home
            a(href='/') Features
            a(href='/') Reviews
            a(href='/') Downland




